body{
    background: url("https://image.shutterstock.com/image-photo/blue-wavy-abstract-gradient-background-260nw-54622879.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.a{
    box-sizing: border-box;
    border-color: black;
    border: 2px solid black;
    width: 100%;
    border: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}